.card {
  width: 384px;
  height: 489.84px;
  background-color: #ffffff;
  border-radius: 16px 0px 0px 0px;
  padding: 32px 0 0 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: center;
  overflow: hidden;
}

.card-gradient {
  position: absolute;
  top: -50px;
  right: -50px;
  width: 206.4px;
  height: 275.2px;
  left: 196.08px;
  gap: 0px;
  opacity: 0px;
  background: radial-gradient(circle, rgba(255, 105, 180, 0.6), transparent);
  border-radius: 1718.28px 0 0 0;
  z-index: 0;
}

.card-header {
  position: relative;
  z-index: 1;
  width: 309px;
  height: 112px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.04em;
  text-align: left;
}

.card-name {
  margin: 0;
}

.card-location {
  font-size: 20px; /* Adicionei um tamanho para o estado. */
  color: #555555;
  margin: 0;
}

.card-image-container {
  margin: 32px auto 16px;
  width: 126px;
  height: 126px;
  position: relative;
  z-index: 1;
}

.card-image {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-description {
  width: 320px;
  margin: 16px auto;
  font-size: 14px;
  color: #555555;
  line-height: 1.5;
  text-align: center;
}

.card-icons {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 33px;
}

.card-icons img {
  width: 41.1px;
  height: 40.57px;
}